<div class="container">
  <h1>{{title}}</h1>

  <div class="list-container" cdkDropListGroup>
    <div class="column-container" *ngFor="let list of boards">
      <div class="list"
           id="{{ list.status }}"
           cdkDropList
           [cdkDropListData]="pagination.results"
           (cdkDropListDropped)="onDrop($event)"
           (cdkDropListEntered)="entered($event)">

        <h2>{{ list.title }}</h2>
        <ng-container *ngFor="let task of pagination.results">
          <mat-card *ngIf="task.status === list.status" cdkDrag [cdkDragData]="task">
            <mat-card-header>
              <mat-card-title>{{task.subject}}</mat-card-title>
              <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
