<mat-drawer-container autosize class="container">
  <!--боковое меню-->
  <mat-drawer #drawer class="sidenav">
    <button routerLink="tasks" mat-button color="primary">Tasks {{ tasksCounter }}</button>
    <button routerLink="home" mat-button color="primary">Home</button>
    <button routerLink="profile" mat-button color="primary">Profile</button>
    <button routerLink="board" mat-button color="primary">Board</button>
  </mat-drawer>
  <div class="sidenav-content">
    <!--toolbar - верхнее меню -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span *ngIf="auth.employee">{{ auth.employee.first_name }}</span>
        <span class="space"></span>

        <!-- menu ... и привязка -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu=matMenu>
          <button
            mat-menu-item
            [disabled]="auth.employee"
            routerLink="login">
            <mat-icon>face</mat-icon>
            <span>login</span>
          </button>

          <button
            mat-menu-item
            [disabled]="!auth.employee"
            (click)="logout()">
            <mat-icon>highlight_off</mat-icon>
            <span>logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>
</mat-drawer-container>

