<div class="container">
  <h1>{{title}}</h1>

  <div class="list-container" cdkDropListGroup>

    <div class="column-container">
      <div class="list"
           cdkDropList
           [cdkDropListData]="pagination.results"
           (cdkDropListDropped)="onDrop($event)"
           (cdkDropListEntered)="entered($event)">
        <h2>To Do:</h2>
        <mat-card *ngFor="let task of pagination.results" cdkDrag [cdkDragData]="task">
          <mat-card-header>
            <mat-card-title>{{task.subject}}</mat-card-title>
            <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div class="list"
           cdkDropList
           [cdkDropListData]="inProgress"
           (cdkDropListDropped)="onDrop($event)"
           (cdkDropListEntered)="entered($event)">
        <h2>In progress:</h2>
        <mat-card *ngFor="let task of inProgress" cdkDrag [cdkDragData]="task">
          <mat-card-header>
            <mat-card-title>{{task.subject}}</mat-card-title>
            <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div class="list"
           cdkDropList
           [cdkDropListData]="readyToCheck"
           (cdkDropListDropped)="onDrop($event)"
           (cdkDropListEntered)="entered($event)">
        <h2>Ready to check:</h2>
        <mat-card *ngFor="let task of readyToCheck" cdkDrag [cdkDragData]="task">
          <mat-card-header>
            <mat-card-title>{{task.subject}}</mat-card-title>
            <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="column-container">
      <div class="list"
           cdkDropList
           [cdkDropListData]="completed"
           (cdkDropListDropped)="onDrop($event)"
           (cdkDropListEntered)="entered($event)">
        <h2>Completed:</h2>
        <mat-card *ngFor="let task of completed" cdkDrag [cdkDragData]="task">
          <mat-card-header>
            <mat-card-title>{{task.subject}}</mat-card-title>
            <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

  </div>
</div>
