@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
}

.space {
  flex: 1 1 auto;
}

.pull-right {
  float: right;
}

.mat-card {
  max-width: 300px;
  margin: auto;
}

.mat-card-avatar {
  background-image: url('https://pp.userapi.com/c847016/v847016790/1d59ae/e5k6kbfvmWg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}

// drag
.drag-class {
  background: mediumvioletred;
}

.movable:not(.drag-class) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dropZone-entered {
  background: red;
}

.dropZone-activated {
  border: 1px solid mediumvioletred;
}

.cdk-overlay-pane {
  pointer-events: none !important;
}
